@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Montserrat", sans-serif;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* END RESET CSS */
.comming-soon {
  background-color: #0f0404;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comming-soon-content {
  position: relative;
  width: 50%;
  margin: auto;
}

.comming-soon-text {
  color: #c0afaf;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.comming-soon-msg {
  width: 100%;
  color: #5a4aa1;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.comming-soon-circle {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#1d1a1a), color-stop(#1f1a1a), color-stop(#000), to(#000));
  background: linear-gradient(#1d1a1a, #1f1a1a, #000, #000);
  -webkit-box-shadow: 0 -20px 128px 2px #13035a;
          box-shadow: 0 -20px 128px 2px #13035a;
  border-radius: 300px;
  margin: auto;
  -webkit-transition: -webkit-box-shadow 500ms;
  transition: -webkit-box-shadow 500ms;
  transition: box-shadow 500ms;
  transition: box-shadow 500ms, -webkit-box-shadow 500ms;
  -webkit-animation: circleAnimation 2s infinite ease-in-out;
          animation: circleAnimation 2s infinite ease-in-out;
}

@-webkit-keyframes circleAnimation {
  5% {
    -webkit-box-shadow: 0 -20px 128px 10px #13035a;
            box-shadow: 0 -20px 128px 10px #13035a;
  }
  6% {
    -webkit-box-shadow: 0 -20px 128px 11px #13035a;
            box-shadow: 0 -20px 128px 11px #13035a;
  }
  7% {
    -webkit-box-shadow: 0 -20px 128px 12px #13035a;
            box-shadow: 0 -20px 128px 12px #13035a;
  }
  8% {
    -webkit-box-shadow: 0 -20px 128px 13px #13035a;
            box-shadow: 0 -20px 128px 13px #13035a;
  }
  9% {
    -webkit-box-shadow: 0 -20px 128px 14px #13035a;
            box-shadow: 0 -20px 128px 14px #13035a;
  }
  10% {
    -webkit-box-shadow: 0 -20px 128px 15px #13035a;
            box-shadow: 0 -20px 128px 15px #13035a;
  }
  11% {
    -webkit-box-shadow: 0 -20px 128px 16px #13035a;
            box-shadow: 0 -20px 128px 16px #13035a;
  }
  12% {
    -webkit-box-shadow: 0 -20px 128px 17px #13035a;
            box-shadow: 0 -20px 128px 17px #13035a;
  }
  13% {
    -webkit-box-shadow: 0 -20px 128px 18px #13035a;
            box-shadow: 0 -20px 128px 18px #13035a;
  }
  14% {
    -webkit-box-shadow: 0 -20px 128px 19px #13035a;
            box-shadow: 0 -20px 128px 19px #13035a;
  }
  15% {
    -webkit-box-shadow: 0 -20px 128px 20px #13035a;
            box-shadow: 0 -20px 128px 20px #13035a;
  }
  16% {
    -webkit-box-shadow: 0 -20px 128px 21px #13035a;
            box-shadow: 0 -20px 128px 21px #13035a;
  }
  17% {
    -webkit-box-shadow: 0 -20px 128px 22px #13035a;
            box-shadow: 0 -20px 128px 22px #13035a;
  }
  18% {
    -webkit-box-shadow: 0 -20px 128px 23px #13035a;
            box-shadow: 0 -20px 128px 23px #13035a;
  }
  19% {
    -webkit-box-shadow: 0 -20px 128px 24px #13035a;
            box-shadow: 0 -20px 128px 24px #13035a;
  }
  20% {
    -webkit-box-shadow: 0 -20px 128px 25px #13035a;
            box-shadow: 0 -20px 128px 25px #13035a;
  }
  21% {
    -webkit-box-shadow: 0 -20px 128px 26px #13035a;
            box-shadow: 0 -20px 128px 26px #13035a;
  }
  22% {
    -webkit-box-shadow: 0 -20px 128px 27px #13035a;
            box-shadow: 0 -20px 128px 27px #13035a;
  }
  23% {
    -webkit-box-shadow: 0 -20px 128px 28px #13035a;
            box-shadow: 0 -20px 128px 28px #13035a;
  }
  24% {
    -webkit-box-shadow: 0 -20px 128px 29px #13035a;
            box-shadow: 0 -20px 128px 29px #13035a;
  }
  25% {
    -webkit-box-shadow: 0 -20px 128px 30px #13035a;
            box-shadow: 0 -20px 128px 30px #13035a;
  }
  26% {
    -webkit-box-shadow: 0 -20px 128px 31px #13035a;
            box-shadow: 0 -20px 128px 31px #13035a;
  }
  27% {
    -webkit-box-shadow: 0 -20px 128px 32px #13035a;
            box-shadow: 0 -20px 128px 32px #13035a;
  }
  28% {
    -webkit-box-shadow: 0 -20px 128px 33px #13035a;
            box-shadow: 0 -20px 128px 33px #13035a;
  }
  29% {
    -webkit-box-shadow: 0 -20px 128px 34px #13035a;
            box-shadow: 0 -20px 128px 34px #13035a;
  }
}

@keyframes circleAnimation {
  5% {
    -webkit-box-shadow: 0 -20px 128px 10px #13035a;
            box-shadow: 0 -20px 128px 10px #13035a;
  }
  6% {
    -webkit-box-shadow: 0 -20px 128px 11px #13035a;
            box-shadow: 0 -20px 128px 11px #13035a;
  }
  7% {
    -webkit-box-shadow: 0 -20px 128px 12px #13035a;
            box-shadow: 0 -20px 128px 12px #13035a;
  }
  8% {
    -webkit-box-shadow: 0 -20px 128px 13px #13035a;
            box-shadow: 0 -20px 128px 13px #13035a;
  }
  9% {
    -webkit-box-shadow: 0 -20px 128px 14px #13035a;
            box-shadow: 0 -20px 128px 14px #13035a;
  }
  10% {
    -webkit-box-shadow: 0 -20px 128px 15px #13035a;
            box-shadow: 0 -20px 128px 15px #13035a;
  }
  11% {
    -webkit-box-shadow: 0 -20px 128px 16px #13035a;
            box-shadow: 0 -20px 128px 16px #13035a;
  }
  12% {
    -webkit-box-shadow: 0 -20px 128px 17px #13035a;
            box-shadow: 0 -20px 128px 17px #13035a;
  }
  13% {
    -webkit-box-shadow: 0 -20px 128px 18px #13035a;
            box-shadow: 0 -20px 128px 18px #13035a;
  }
  14% {
    -webkit-box-shadow: 0 -20px 128px 19px #13035a;
            box-shadow: 0 -20px 128px 19px #13035a;
  }
  15% {
    -webkit-box-shadow: 0 -20px 128px 20px #13035a;
            box-shadow: 0 -20px 128px 20px #13035a;
  }
  16% {
    -webkit-box-shadow: 0 -20px 128px 21px #13035a;
            box-shadow: 0 -20px 128px 21px #13035a;
  }
  17% {
    -webkit-box-shadow: 0 -20px 128px 22px #13035a;
            box-shadow: 0 -20px 128px 22px #13035a;
  }
  18% {
    -webkit-box-shadow: 0 -20px 128px 23px #13035a;
            box-shadow: 0 -20px 128px 23px #13035a;
  }
  19% {
    -webkit-box-shadow: 0 -20px 128px 24px #13035a;
            box-shadow: 0 -20px 128px 24px #13035a;
  }
  20% {
    -webkit-box-shadow: 0 -20px 128px 25px #13035a;
            box-shadow: 0 -20px 128px 25px #13035a;
  }
  21% {
    -webkit-box-shadow: 0 -20px 128px 26px #13035a;
            box-shadow: 0 -20px 128px 26px #13035a;
  }
  22% {
    -webkit-box-shadow: 0 -20px 128px 27px #13035a;
            box-shadow: 0 -20px 128px 27px #13035a;
  }
  23% {
    -webkit-box-shadow: 0 -20px 128px 28px #13035a;
            box-shadow: 0 -20px 128px 28px #13035a;
  }
  24% {
    -webkit-box-shadow: 0 -20px 128px 29px #13035a;
            box-shadow: 0 -20px 128px 29px #13035a;
  }
  25% {
    -webkit-box-shadow: 0 -20px 128px 30px #13035a;
            box-shadow: 0 -20px 128px 30px #13035a;
  }
  26% {
    -webkit-box-shadow: 0 -20px 128px 31px #13035a;
            box-shadow: 0 -20px 128px 31px #13035a;
  }
  27% {
    -webkit-box-shadow: 0 -20px 128px 32px #13035a;
            box-shadow: 0 -20px 128px 32px #13035a;
  }
  28% {
    -webkit-box-shadow: 0 -20px 128px 33px #13035a;
            box-shadow: 0 -20px 128px 33px #13035a;
  }
  29% {
    -webkit-box-shadow: 0 -20px 128px 34px #13035a;
            box-shadow: 0 -20px 128px 34px #13035a;
  }
}
/*# sourceMappingURL=style.css.map */